<filepath="en_menu_about.png" id="en_menu_about" colfmt=5 />
<filepath="en_menu_back.png" id="en_menu_back" colfmt=5 />
<filepath="en_menu_exit.png" id="en_menu_exit" colfmt=5 />
<filepath="en_menu_install.png" id="en_menu_install" colfmt=5 />
<filepath="en_menu_installchannel.png" id="en_menu_installchannel" colfmt=5 />
<filepath="en_menu_play.png" id="en_menu_play" colfmt=5 />
<filepath="en_menu_repairfiles.png" id="en_menu_repairfiles" colfmt=5 />
<filepath="en_menu_tools.png" id="en_menu_tools" colfmt=5 />
<filepath="en_menu_update.png" id="en_menu_update" colfmt=5 />
<filepath="en_menu_addons.png" id="en_menu_addons" colfmt=5 />