<filepath="addon_conflict.png" id="addon_conflict" colfmt=5 />
<filepath="addon_installed.png" id="addon_installed" colfmt=5 />
<filepath="addon_not_installed.png" id="addon_not_installed" colfmt=5 />
